.minicart-wrapper .action.showcart .counter.qty {
    background-color: #33FF68;
}

.opc-progress-bar {
    margin: 0 auto;
    float: none;
    max-width: 400px;
}

.opc-progress-bar-item._active > span:after {
    content: '\e616';
}

.action.primary, .action-primary {
    background-color: #33FF68 !important;
}