<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="paymentgateway" translate="label" sortOrder="400">
            <label>Payment Gateway</label>
        </tab>
        <section id="ordersuccess" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Order Success Page</label>
            <tab>paymentgateway</tab>
            <resource>Kalicr_OrderSuccess::ordersuccess</resource>

            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="ordersuccess_enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Extension</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[]]></comment>
                </field>
            </group>

            <group id="ordersuccess_address_section" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Order Address Section</label>
                <field id="ordersuccess_address_shipping" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display Shipping Address</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[]]></comment>
                </field>
                <field id="ordersuccess_address_billing" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display Billing Address</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[]]></comment>
                </field>
                <field id="ordersuccess_address_shipping_method" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display Shipping Method</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[]]></comment>
                </field>
                <field id="ordersuccess_address_payment_method" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display Payment Method</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[]]></comment>
                </field>
            </group>

            <group id="ordersuccess_order_section" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Order Information</label>
                <field id="ordersuccess_product_table" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display Order Table</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[]]></comment>
                </field>
                <field id="ordersuccess_product_images" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display Product Images</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[]]></comment>
                    <depends>
                        <field id="ordersuccess_product_table">1</field>
                    </depends>
                </field>
                <field id="ordersuccess_discount" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Display Discount</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[]]></comment>
                    <depends>
                        <field id="ordersuccess_product_table">1</field>
                    </depends>
                </field>
                <field id="ordersuccess_shipping_rate" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Display Shipping Rate</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[]]></comment>
                    <depends>
                        <field id="ordersuccess_product_table">1</field>
                    </depends>
                </field>
                <field id="ordersuccess_tax" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Display Tax</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[]]></comment>
                    <depends>
                        <field id="ordersuccess_product_table">1</field>
                    </depends>
                </field>
            </group>

            <group id="ordersuccess_cms_section" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Order CMS Page Section</label>
                <field id="ordersuccess_enable_cms_top" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Display CMS Block on Top</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[]]></comment>
                </field>
                <field id="ordersuccess_cms_top_id" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>CMS Block ID</label>
                    <comment><![CDATA[ ex : order_success_block_top ]]></comment>
                    <depends>
                        <field id="ordersuccess_enable_cms_top">1</field>
                    </depends>
                </field>
                <field id="ordersuccess_enable_cms_bottom" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Display CMS Block on Bottom</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[]]></comment>
                </field>
                <field id="ordersuccess_cms_bottom_id" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>CMS Block ID</label>
                    <comment><![CDATA[ ex : order_success_block_bottom ]]></comment>
                    <depends>
                        <field id="ordersuccess_enable_cms_bottom">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>