<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Kalicr_CustomCheckoutProcess::logs_root" title="LOGS Menu" sortOrder="50">
                    <resource id="Kalicr_CustomCheckoutProcess::order_log" title="Order JSON Logs" sortOrder="10"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>