<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="brandlisting_listing_data_source" xsi:type="string">Kalicr\BrandListing\Model\ResourceModel\Brand\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Kalicr\BrandListing\Model\ResourceModel\Brand\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">kalicr_brandlisting_brand</argument>
            <argument name="resourceModel" xsi:type="string">Kalicr\BrandListing\Model\ResourceModel\Brand</argument>
        </arguments>
    </virtualType>

    <type name="Kalicr\BrandListing\Model\Brand\DataProvider">
        <arguments>
            <argument name="name" xsi:type="string">brand_form_data_source</argument>
            <argument name="primaryFieldName" xsi:type="string">entity_id</argument>
            <argument name="requestFieldName" xsi:type="string">id</argument>
            <argument name="collectionFactory" xsi:type="object">Kalicr\BrandListing\Model\ResourceModel\Brand\CollectionFactory</argument>
        </arguments>
    </type>

    <virtualType name="Kalicr\BrandListing\BrandImageUploader" type="Magento\Catalog\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">brand/tmp/logo</argument>
            <argument name="basePath" xsi:type="string">brand/logo</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
                <item name="svg" xsi:type="string">svg</item>
            </argument>
            <argument name="allowedMimeTypes" xsi:type="array">
                <item name="jpg" xsi:type="string">image/jpg</item>
                <item name="jpeg" xsi:type="string">image/jpeg</item>
                <item name="gif" xsi:type="string">image/gif</item>
                <item name="png" xsi:type="string">image/png</item>
                <item name="svg" xsi:type="string">image/svg+xml</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Kalicr\BrandListing\Controller\Adminhtml\Index\Upload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Kalicr\BrandListing\BrandImageUploader</argument>
        </arguments>
    </type>

    <type name="Kalicr\BrandListing\Controller\Adminhtml\Index\Save">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Kalicr\BrandListing\BrandImageUploader</argument>
        </arguments>
    </type>

    <preference for="Kalicr\BrandListing\Api\BrandManagementInterface" type="Kalicr\BrandListing\Model\BrandManagement"/>
    <preference for="Kalicr\BrandListing\Api\BrandRepositoryInterface" type="Kalicr\BrandListing\Model\BrandManagement"/>
    <preference for="Kalicr\BrandListing\Api\Data\BrandInterface" type="Kalicr\BrandListing\Model\Brand"/>
</config>