.customer-account-custom {
    .columns {
        .column.main {
                color: rgb(15, 15, 163) !important;
        }
    }

    .page-title {
        border: 2px solid #e9cadc;
        padding: 5px;
        border-radius: 6px;
    }
}